.form-group {
    margin: 20px;
    width: 50%;
    text-align: center;
}

div {
    margin: 38px;
}
input {

    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    text-align: center;

}

fieldset {
    text-align: center;
    background-color:#FFD700 ;
    border: solid 4px;
    border-radius: 5%;
    width: 30em;
    height: 40em;
}

fieldset.anglais {

    background-color: #FFD700;
    border: solid 4px;
    border-radius: 5%;

}

fieldset.espagnol {

    background-color: #FFD700;
    border: solid 4px;
    border-radius: 5%;

}

fieldset.enseignement_scientifque {

    background-color: #FFD700;
    border: solid 4px;
    border-radius: 5%;

}

fieldset.enseignement_civique {

    background-color: #FFD700;
    border: solid 4px;
    border-radius: 5%;

}

fieldset.spe1 {

    background-color: #FFD700;
    border: solid 4px;

}

fieldset.epreuves_terminales {
    background-color: #87CEEB;
    border: solid 4px
}


label.moyenne_anglais {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #B8860B;
}

label.moyenne_espagnol {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #B8860B;
}

label.moyenne_enseignement_scientifique {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #B8860B;
}

label.moyenne_enseignement_civique {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #B8860B;
}

label.moyenne_spe1 {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #B8860B;
}

label.moyenne_epreuvesTerminale {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
}

input.moyenne_espagnol {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;

}

input.moyenne_anglais {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
}

input.moyenne_enseignement_civique {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;

}

input.moyenne_enseignement_scientifique {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
}

input.moyenne_enseignement_civique {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;

}

input.moyenne_spe1 {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;

}

input.moyenne_epreuvesTerminale {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;

}

label.moyenne {
    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #B8860B;

}

input.moyenne {

    height: 3rem;
    width: 27rem;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;

}

button {
    width: 100%;
    background: pink;
    border-radius: 33%;
    font-weight: bold;
}
p.text-danger {
    font-weight: 900;
    font-size: xx-large;
    border: solid 3px blue;
    text-align: center;
    background-color: rgb(11, 25, 104);
}
.container {
    display: flex;
    background-color: black;
    color: blue;
}