.form-group {
    margin: 20px;
    width: 50%;
    text-align: center;
}
div {
    margin: 120px;
}
fieldset {
    width: 30%;
    background-color: rgb(228, 115, 138);
    border: solid 2px;
    border-radius: 5%;
    width: min-content
}

fieldset.anglais {
    width: 30%;
    background-color: rgb(114, 192, 24);
    border: solid 2px;
    border-radius: 5%;
    width: min-content
}

fieldset.espagnol {
    width: 30%;
    background-color: rgb(6, 70, 112);
    border: solid 2px;
    border-radius: 5%;
    width: min-content
}

fieldset.enseignement_scientifque {
    width: 30%;
    background-color: rgb(143, 10, 155);
    border: solid 2px;
    border-radius: 5%;
    width: min-content
}

fieldset.enseignement_civique{
    width: 30%;
    background-color: rgb(247, 114, 53);
    border: solid 2px;
    border-radius: 5%;
    width: min-content
}
fieldset.spe1{
    width: 30%;
    background-color: rgba(53, 247, 215, 0.521);
    border: solid 2px;
    width: min-content
}

label.moyenne_anglais {
    background-color: rgb(6, 199, 6);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
}

label.moyenne_espagnol {
    background-color: rgb(3, 102, 133);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
}

label.moyenne_enseignement_scientifique {
    background-color: rgb(176, 28, 235);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
}
label.moyenne_enseignement_civique{
    background-color: rgb(235, 119, 12);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
}
label.moyenne_spe1 {
    background-color: rgba(21, 102, 89, 0.521);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
}
input.moyenne_espagnol {
    background-color: rgb(7, 16, 90);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

}
input.moyenne_anglais {
    background-color: rgb(46, 110, 26);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
input.moyenne_enseignement_civique {
    background-color: rgb(231, 110, 12);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

}
input.moyenne_enseignement_scientifique {
    background-color: rgb(82, 4, 82);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

}
input.moyenne_enseignement_civique {
    background-color: rgb(190, 68, 11);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

}
input.moyenne_spe1 {
    background-color: rgba(17, 218, 177, 0.521);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

}
label.moyenne {
    background-color: rgb(219, 50, 84);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;


}

input.moyenne {

    background-color: rgb(100, 6, 25);
    width: 121%;
    border-radius: 24%;
    border: solid 2px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

}

button {
    width: 100%;
    background: pink;
    border-radius: 33%;
    font-weight: bold;
}
.container {
    display: flex;
    
}